.hg
.hgignore
parsetab.py
*.nml
*.stat
*.grf
*.bak
*.nfo
*_optimized.nml
*_dep.txt
*.src.7z
*.grf.7z
*.hg.7z
xussr.grf.cacheindex
xussr.grf.cache
custom_tags.txt
.nmlcache
lang/_Missing.txt
temp.tmp
src/addon/emu/!fix_names.cmd
config.bat
