.hg
.hgignore
parsetab.py
xussr.grf
xussr.bak
xussr.nfo
xussr.nml
xussr_optimized.nml
xussr_dep.txt
custom_tags.txt
*.src.7z
*.grf.7z
*.hg.7z
xussr.grf.cacheindex
xussr.grf.cache
.nmlcache
lang/_Missing.txt
compile.stat
compile-addon.stat
compile-rails.stat
temp.tmp
xussr-addon.grf
xussr-addon.bak
xussr-addon.nfo
xussr-addon.nml
xussr-addon_optimized.nml
xussr-addon_dep.txt
xussr-rails.grf
xussr-rails.bak
xussr-rails.nfo
xussr-rails.nml
xussr-rails_optimized.nml
xussr-rails_dep.txt
src/addon/emu/!fix_names.cmd
config.bat
